*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}

body{
    min-height: 100vh;
    background: url(sunrise-1014712_1280.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}
.logo{
    font-size: 2rem;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    font-size: 1.15rem;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;

}

#check{
    display: none;
}

.icons{
    font-size: 2.8rem;
    color: whitesmoke;
    cursor: pointer;
    display: none;
    right:5%;
}

@media (max-width: 992px){
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }


    .navbar {
        position: absolute;
        top:100%;
        left:0;
        width: 100%;
       height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: 0.3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }


    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3s ease;
    }

    #check:checked~.navbar a{
        transform: translateY(0);
    }

    .hero-text h1{
        font-size: 1rem  !important;
    }

    .hero-image {
        width: 100% !important;
    }
   
    .btn{
        width: 6rem  !important; 
        height: 2rem  !important;
        border-radius: 1px;
       
        font-size: 0.7rem  !important;
        font-weight: 700;
        margin-top: 5%  !important;
    }
    

    #features{
        display: flex;
        flex-direction: column !important;
       
    }

    .card img{
        width: 100% !important;
        margin-bottom: 5px !important;
    }

    .cards {
        flex-direction: column; 
        align-items: center; 
    }

    .testRow {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .testCard {
       
        width: 60%;
        max-width: 300px;
        height: auto;
        /* ... other styles ... */
    }

    .testCard img {
        /* Adjust margins or positioning for vertical alignment */
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        max-width: 300px !important;
        
    }
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}



.hero-image{
    margin-top: 10%;
    width: 80%;
    height: 400px;
    position: relative;

}

.hero-text{
    position: absolute;
    color: whitesmoke;
}

.hero-text h1{
    font-size: 3rem;
}

.btn {
    width: 7rem;
    height: 2rem;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10%;
    text-align: center;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

#features{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 700px;
}

.card{
    width: 30%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background to improve text readability */
    color: whitesmoke;
    padding: 10px;
    margin: 0;
    text-align: center;
}


.wrapper{
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}

.wrapper h1{
    font-size: 60px;
    font-weight: 500;
    margin: 50px 0;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.wrapper h5{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

.testCard{
    width: 400px;
    height: 350px;
    border-radius: 15px;
    margin: 7px;
    padding: 20px 30px;
    position: relative;
    background: rgba(255,255,255,0.2);
    box-shadow: 10px 20px 25px rgba(0,0,0,0.2);
}

.testCard img{
    height: 60px;
    width:60px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    position: absolute;
    margin-top: -30px;
    margin-left: -20px
}

.testCard p{
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.testCard h2{
    font-weight: 500;
    margin-bottom: 7px;
}

.testCard h4{
    font-weight: 400;
    font-size: 12px;
}

.testCard i{

    font-size: 60px;
    position: absolute;
    bottom: 20px;
    right: 25px;

}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#btn2 {
    background-color: gray;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#btn2:hover {
    background-color: darkgray;
}

.error-message {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}

#contactForm{
    background: rgba(0,0,0,0.4);
    box-shadow: 10px 20px 25px rgba(0,0,0,0.4);
    color: antiquewhite;
}

footer {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding-top: 10px;
    margin-top: 50px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.last{
    padding-top: 5px;
}



